---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact me"
>
  <span class="contact">
    <p>
      You can contact me via:
      <br><a href="mailto:szymonjozwicki@gmail.com" target="_blank">Email</a>
      <br><a href="https://www.linkedin.com/in/szymon-jozwicki/" target="_blank">LinkedIn</a>
      <br><a href="https://github.com/jozwik12" target="_blank">GitHub</a>
    </p>
  </span>
  <style>
    .contact {
      display:flex;
      justify-content: center;
    }
  </style>
</Layout>
