---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead/>
	</head>
	<body>
		<Header />
		<main>
			<h3>Hey, I'm Szymon</h3>
      <p>
        I'm all-round tinkerer that enjoys diving into domains of both software and mechanical engineering and any world in-between. 
        Most familiar with web technologies (mostly React/TS/JS/Java), attempting to teach myself microcontrollers programming.
        <br>I also fill my time with sports, mostly climbing 🧗 and volleyball 🏐
			</p>
			<p>
				Currently working as Middle Full Stack Developer at Sollers Consulting
			</p>
      <p>
        I've graduated from Wrocław University of Science and Technology with Master's Degree in Management and Manufacturing Engineering
        and Bachelor's Degree in Mechanical Engineering
			</p>
      <p>
        You can check out some of the stuff I created in the <a href="/blog">blog</a> or at my <a href="https://github.com/jozwik12">GitHub</a>
        <br>Here's a quick rundown:
        <ul>
          <li>
            1 placeholder
          </li>
          <li>
            2 placeholder
          </li>
          <li>
            3 placeholder
          </li>
        </ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
