---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead/>
	</head>
	<body>
		<Header />
		<main>
			<h3>Hey, I'm Szymon</h3>
      <p>
        I'm an all-around tinkerer who enjoys diving into both software and mechanical engineering, and exploring the fascinating intersection between them. 
        I'm most familiar with web technologies (primarily React, TypeScript, JavaScript, and Java). Currently teaching myself microcontroller programming.
      </p>
      <p>
        When not coding I fill my time with sports, mostly climbing 🧗 and volleyball 🏐
			</p>
			<p>
				Currently working as Middle Full Stack Developer at Sollers Consulting
			</p>
      <p>
        I've graduated from Wrocław University of Science and Technology with Master's Degree in Management and Manufacturing Engineering
        and Bachelor's Degree in Mechanical Engineering
			</p>
      <p>
        You can check out some of the stuff I created in the <a href="/blog">blog</a> or at my <a href="https://github.com/jozwik12" target="_blank">GitHub</a>
        <br>Here's a quick rundown:
        <ul>
          <li>
            <b>screen-o-bot</b>
            <br><i>React, JavaScript, Python, Electron, JavaScript, Material UI, CSS</i>
            <br>Desktop app with Electron-based client optimizing screen capturing by image comparison
          </li>
          <li>
            <b>Józwikonator</b>
            <br><i>Marlin/Klipper firmware, Linux, C++, 3D modeling</i>
            <br>Self-contained 3D printer of my own design with web control interface and remote control
          </li>
          <li>
            <b>spacemouse-thingy</b>
            <br><i>Arduino, C++, 3D modeling</i>
            <br>Prototype of open source 6DoF input device for CAD applications using 9DoF IMU unit
          </li>
          <li>
            <b>misc-scripts</b>
            <br><i>Python</i>
            <br>Collection of various scripts used to simplify everyday tasks
          </li>
        </ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
